@font-face {
  font-family: 'mplus1p';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/MPLUS1p-Regular.woff");
}
@font-face {
  font-family: 'ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Ubuntu-Regular.woff");
}
@font-face {
  font-family: 'sourcecodepro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/SourceCodePro-Regular.woff");
}
