@import './colors';

.hljs {
  display: block;
  overflow-x: auto;
  padding: 16px;
  background: $gray-dark;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: $white;
}

.hljs-strong,
.hljs-emphasis {
  color: $gray-light;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: $orange;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: $orange;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: $orange;
}

.hljs-symbol,
.hljs-attribute {
  color: $orange;
}

.hljs-params,
.hljs-class .hljs-title {
  color: $orange;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: $gray;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: $gray-dark;
}
