@import '../common/colors';

.button-presenter {
  background-color: $orange;
  border-radius: 0;
  border: 1px solid $orange;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  text-align: center;

  &.disable {
    opacity: 0.5;
  }
}