@import '../common/colors';

.check-box-presenter {
  align-items: center;
  cursor: pointer;
  display: flex;

  .mark {
    border-radius: 2px;
    border: 1px solid $gray;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 16px;

    &.checked {
      background-color: $orange;
      border-color: $orange;

      &:after {
        border-color: $white;
        border-style: solid;
        border-width: 0 0 2px 2px;
        content: '';
        height: 6px;
        position: absolute;
        transform: rotate(-45deg);
        width: 10px;
        top: 3px;
        left: 2px;
      }
    }
  }

  .label {
    display: inline-block;
    margin-left: 4px;
  }
}

