@import './colors';

#content-container {
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;

  #content-header {
    height: 320px;
    position: relative;
    width: 100%;

    #content-header-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    #content-header-title {
      position: absolute;
      text-align: center;
      bottom: 150px;
      font-size: 40px;
      left: 50%;
      width: 100%;
      max-width: 720px;
      color: $white;
      transform: translate(-50%);

      #home-title-upper {
        border-bottom: 1px solid $white;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
        display: inline-block;
        color: $white;
      }

      #home-title-lower {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        color: $white;
      }
    }

    #content-header-description {
      color: $white;
      position: absolute;
      transform: translate(-50%);
      top: 200px;
      left: 50%;
      width: 100%;
      text-align: center;
      max-width: 720px;
    }
  }

  #main-content {
    position: relative;
    padding: 0 24px 24px 24px;
    max-width: 720px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
  }

  #left-content {
    border-right: 1px solid $gray-light;
    bottom: 16px;
    display: none;
    min-height: 24px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 8px;
    position: absolute;
    right: calc(50% + 240px);
    top: 16px;
    width: 240px;

    a {
      line-height: 1;
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 961px) {
    #main-content-wrapper.with-menu {
      #main-content {
        left: calc(50% + 120px);
      }
    }

    #left-content {
      display: block;
    }
  }
}
