@import './colors';

$header-height: 56px;
$footer-height: 48px;

#screen-wrapper {
  bottom: 0;
  display: grid;
  grid-template-rows: $header-height 1fr $footer-height;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  #header,
  #header-left,
  #header-right {
    height: $header-height;
    border-top: 2px solid $orange;
    border-bottom: 1px solid $gray-light;
    grid-row: 1 / 2;
  }

  #footer,
  #footer-left,
  #footer-right {
    height: $footer-height;
    background-color: $gray-dark;
    grid-row: -2 / -1;
  }

  #header-left,
  #footer-left {
    grid-column: 1 / 2;
  }

  #header-right,
  #footer-right {
    grid-column: -2 / -1;
  }

  #content {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
  }
}

@media screen and (max-width: 720px) {
  #screen-wrapper {
    grid-template-columns: 1fr;

    #header {
      grid-column: 1 / 2;
    }

    #main-content {
      grid-column: 1 / 2;
    }

    #footer {
      grid-column: 1 / 2;
    }

    #header-left,
    #header-right,
    #footer-left,
    #footer-right {
      display: none;
    }
  }
}

@media screen and (min-width: 721px) {
  #screen-wrapper {
    grid-template-columns: 1fr 720px 1fr;

    #header-left,
    #footer-left {
      grid-column: 1 / 2;
    }

    #header,
    #footer {
      grid-column: 2 / 3;
    }

    #header-right,
    #footer-right {
      grid-column: 3 / 4;
    }
  }
}
