@import '../../common/colors';

#home-container {
  #home-image {
    background-color: $orange;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    color: $white;
  }
}
