@import '../../common/colors';

#home-container {
  #home-image-wrapper {
    background-color: $orange;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    color: $white;

    #home-image {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      h1 {
        border-bottom: 1px solid $white;
        color: $white;
        font-size: 36px;
        text-align: center;
      }

      h2 {
        color: $white;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
