/*
 * <link rel="preconnect" href="https://fonts.gstatic.com">
 * <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
 */

/* Colors */
a {
  color: #1e90ff;
}

button {
  background-color: #07f;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
}

/* Light Theme */
.light-theme {
  background-color: #f6f6f6;
  color: #000;
}

.light-theme * {
  border-color: #000;
}

.light-theme hr {
  background-color: #aaa;
}

.light-theme blockquote, .light-theme pre {
  background-color: #ccc;
  color: #000;
}

.light-theme thead, .light-theme tfoot {
  background-color: #eee;
}

.light-theme code {
  background-color: #ccc;
  color: #660000;
}

/* Dark Theme */
.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme * {
  border-color: #ccc;
}

.dark-theme hr {
  background-color: #ccc;
}

.dark-theme blockquote, .dark-theme pre {
  background-color: #000;
  color: #ccc;
}

.dark-theme thead, .dark-theme tfoot {
  background-color: #222;
}

.dark-theme code {
  background-color: #000;
  color: #fff;
}

/* Font */
body, input, textarea, button {
  font-family: 'M PLUS Rounded 1c', "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

code, code * {
  font-family: 'Roboto Mono', Consolas, "Courier New", Courier, Monaco, 'Noto Serif JP', monospace;
}

/* Tag Styles */
body, header, footer, div, span, p, a, button, hr, h1, h2, h3, h4, h5, h6, em, strong, code, img, pre, input, ul, ol, li, table, thead, tbody, tfoot, tr, th, td, textarea {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  font-feature-settings: "palt";
  font-size: inherit;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
  text-decoration: none;
  touch-action: manipulation;
  word-break: break-word;
}

footer {
  text-align: center;
  margin: 48px 0 16px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 0 0;
  padding: 0.25rem 0.5rem;
}

h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-size: inherit;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  text-align: center;
}

h2 {
  border-bottom-width: 1px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  border-left: 4px solid;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 2.25rem;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0 0 0 1rem;
}

h4 {
  font-weight: 800;
  font-size: 1.25rem;
}

h5, h6 {
  font-weight: 800;
  font-size: 1rem;
}

details {
  margin: 10px 0 0 0;
  padding: 8px 16px;
}

details[open] {
  border-radius: 4px;
  border: 1px solid;
}

details > summary {
  cursor: pointer;
}

p {
  margin: 1rem 0.5rem;
  padding: 0 0.25em;
}

a {
  border-radius: 0.25rem;
  text-decoration: underline;
}

hr {
  height: 0.25rem;
  margin-top: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 800;
}

code {
  font-size: 1rem;
  padding: 0 0.35rem;
}

pre {
  overflow-y: scroll;
  margin: 0.5rem 0.75rem;
  padding: 0.75rem 1rem;
}

pre * {
  background: none;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 1rem 0.75rem;
  overflow-y: scroll;
  padding: 0 0.5rem;
}

blockquote > blockquote {
  padding: 0 0 0 1rem;
}

p > em, p > strong, p > code {
  border-radius: 0.25rem;
  margin: 1px;
}

em > em, em strong, em code, strong > em, strong strong, strong code, code > em, code strong, code code {
  background-color: #0000;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 50vh;
  max-width: 100%;
  object-fit: scale-down;
}

a, button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0 0.5rem 0;
  width: 100%
}

table th, table td {
  border-width: 1px;
  padding: 0.25rem 0.5rem;
}

table th {
  text-align: center;
}

ul, ol {
  margin: 1rem 0.5rem;
  padding: 0 0.25rem 0 1.5rem;
  width: 100%
}

ul li, ol li {
  margin-top: 0.25rem;
}

ul li p, ol li p {
  padding-left: 0;
}

ul ul, ol ul {
  margin-top: 0;
}

li > ol, li > ul {
  margin: 0;
}

input {
  border-radius: 0.25rem;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: 8px;
  max-width: 100%;
  min-height: 2rem;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
}

button {
  border-radius: 4px;
  font-size: 1rem;
  line-height: 20px;
  margin: 4px;
  padding: 8px 16px;
}

/* Basic Layout */
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
}

.index-item {
  margin-bottom: 16px;
}

.index-item > * {
  display: block;
}

/* Tooltip Styles */
@media (pointer: fine) {
  /* Example: <div class="tooltip" data-tooltip="TEXT"></div> */
  .tooltip {
    position: relative
  }

  .tooltip:hover::before {
    background-color: white;
    border: 2px solid #999;
    color: black;
    content: attr(data-tooltip);
    display: block;
    font-size: 1rem;
    left: 50%;
    padding: 0 8px;
    position: absolute;
    top: -10px;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    z-index: 100;
  }

  .tooltip:hover::after {
    border-color: #999 transparent transparent transparent;
    border-style: solid;
    border-width: 4px;
    content: " ";
    left: 50%;
    position: absolute;
    top: -10px;
    transform: translate(-50%);
    width: 0;
    z-index: 100;
  }
}
