@import '../../common/colors';

#browser-api-container {
  .video-modal {
    background-color: $black;
    width: 100%;
    position: relative;
    min-height: 160px;

    .remote-view {
      border: 1px solid $gray;
      width: 100%;
      object-fit: contain;
    }

    .self-view {
      bottom: 0;
      max-height: 50%;
      max-width: 25%;
      object-fit: contain;
      position: absolute;
      right: 0;
    }
  }

  .control-buttons {
    margin-top: 16px;
    text-align: center;
  }
}
