@import "./colors";

#footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;

  #footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      align-items: center;
      background-color: $white;
      border-radius: 50%;
      color: $white;
      display: flex;
      height: 32px;
      justify-content: center;
      line-height: 30px;
      margin: 4px;
      text-align: center;
      width: 32px;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  #footer-copyright {
    font-size: 12px;
    color: $white;
  }
}
