@import './colors';

#footer {
  background-color: $gray-dark;
  bottom: 0;
  height: 48px;
  left: 0;
  padding: 0 16px;
  position: absolute;
  right: 0;

  #footer-links {
    float: left;

    a {
      background-color: $white;
      border-radius: 50%;
      color: $white;
      display: inline-block;
      height: 32px;
      line-height: 30px;
      margin: 8px 8px 8px 0;
      padding: 4px;
      text-align: center;
      width: 32px;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  #footer-copyright {
    float: right;
    font-size: 12px;
    color: $white;
    line-height: 48px;
  }
}
