@import "./colors";

.skills-wrapper {
  margin-top: 8px;

  .skill-container {
    border: 1px solid $silver;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 120px;

    .skill-image {
      border-radius: 8px;
      display: block;
      height: 104px;
      margin: 8px;
      object-fit: scale-down;
      width: 104px;
    }

    .skill-title {
      color: $black;
      font-size: 16px;
    }

    .skill-level {
      color: $navy;
      font-size: 20px;
      margin-bottom: 4px;
    }
  }
}
