<!doctype html>
<html lang="ja">
<head>
  <%- include('../component/html/head.html') %>
  <meta property="og:type" content="article" />
</head>
<body>
  <div id="header">
    <div id="header-container">
      <%- include('../component/html/header.html') %>
    </div>
  </div>
  <div id="content-wrapper">
    <%- include('../component/html/title.html') %>
    <div id="main-content">
      <h1>投稿一覧</h1>
      <ul>
        <% page.entries.map((entry) => { %>
        <li>
          <a href="<%- entry.absolutePath %>">
            <%- entry.page.title %>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div id="footer">
    <div id="footer-container">
      <%- include('../component/html/footer.html') %>
    </div>
  </div>
  <%- include('../component/html/google_analytics.html') %>
</body>
</html>
