<nav id="footer-links">
  <a class="tooltip" data-tooltip="Mail" href="mailto:hyiromori@gmail.com">
    <img src="/assets/images/mail.png" alt="Mail Logo" decoding="async" />
  </a>
  <a class="tooltip" data-tooltip="Twitter" href="https://twitter.com/hyiromori">
    <img src="/assets/images/twitter.png" alt="Twitter Logo" decoding="async" />
  </a>
  <a class="tooltip" data-tooltip="GitHub" href="https://github.com/hyiromori">
    <img src="/assets/images/github.png" alt="GitHub Logo" decoding="async" />
  </a>
</nav>
<div id="footer-copyright">&copy 2018 hyiromori</div>