<!doctype html>
<html lang="ja">
<head>
  <%- include('./component/head.html') %>
  <%- include('./component/head_highlight.html') %>
  <meta property="og:type" content="article" />
</head>
<body>
  <div id="header">
    <div id="header-container">
      <%- include('./component/header.html') %>
    </div>
  </div>
  <div id="content-wrapper">
    <div id="main-content">
      <%- content %>
    </div>
    <div id="left-content"></div>
  </div>
  <div id="footer">
    <div id="footer-container">
      <%- include('./component/footer.html') %>
    </div>
  </div>
  <script type="text/javascript">
    <%- include('./component/left_menu.js') %>
  </script>
</body>
</html>
