<!doctype html>
<html>
<head>
  <%- include('./component/head.html') %>
  <meta property="og:type" content="website" />
</head>
<body>
  <div id="screen-wrapper">
    <%- include('./component/header.html') %>
    <div id="content">
      <div id="content-container">
        <div id="content-header">
          <img id="content-header-image" src="/assets/images/home.png" />
          <div id="content-header-title">
            <div id="home-title-upper">Portfolio</div>
            <div id="home-title-lower">by hyiromori</div>
          </div>
          <div id="content-header-description">
            Web系フルスタックエンジニア hyiromori のポートフォリオサイトです。
          </div>
        </div>
        <div id="main-content">
          <%- content %>
        </div>
      </div>
    </div>
    <%- include('./component/footer.html') %>
  </div>
</body>
</html>
