<!doctype html>
<html>
<head>
  <%- include('./component/head.html') %>
  <meta property="og:type" content="website" />
</head>
<body>
  <%- include('./component/header.html') %>
  <div id="content-wrapper">
    <div id="main-content-wrapper">
      <img id="head-image" src="/assets/images/home.png" />
      <div id="main-content">
        <div id="home-title-wrapper">
          <div id="home-title">
            <div id="home-title-upper">Portfolio</div>
            <div id="home-title-lower">by hyiromori</div>
          </div>
          <div id="home-title-description">
            Web系フルスタックエンジニア hyiromori のポートフォリオサイトです。
          </div>
        </div>
        <%- content %>
      </div>
    </div>
  </div>
  <%- include('./component/footer.html') %>
</body>
</html>
