<div id="footer-left"></div>
<div id="footer">
  <nav id="footer-links">
    <a class="tooltip" data-tooltip="Mail" href="mailto:hyiromori@gmail.com">
      <img src="/assets/images/mail.png" />
    </a>
    <a class="tooltip" data-tooltip="Twitter" href="https://twitter.com/hyiromori">
      <img src="/assets/images/twitter.png" />
    </a>
    <a class="tooltip" data-tooltip="GitHub" href="https://github.com/hyiromori">
      <img src="/assets/images/github.png" />
    </a>
  </nav>
  <div id="footer-copyright">&copy 2018 hyiromori</div>
</div>
<div id="footer-right"></div>