<title><%- metaTitle %></title>
<meta content="<%- metaTitle %>" name="title">
<meta content="<%- description %>" name="description">
<meta content="<%- keywords %>" name="keywords">
<meta property="og:title" content="<%- metaTitle %>" />
<meta property="og:description" content="<%- description %>" />
<meta property="og:image" content="/assets/images/logo.png" />
<meta property="og:url" content="https://portfolio.hyiromori.com/" />
<meta property="og:site_name" content="<%- metaTitle %>" />
<meta property="og:locale" content="ja-JP" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@hyiromori" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjp.css" />
<link rel="stylesheet" href="/assets/styles/index.css" />
<script src="/assets/scripts/highlight.pack.js"></script>
<link rel="stylesheet" href="/assets/styles/monokai-sublime.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124358962-1"></script>
<script type="text/javascript">
  hljs.initHighlightingOnLoad();
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-124358962-1');
</script>