<!doctype html><% var data = {
title: 'hyiromori\'s Laboratory',
description: 'Web系エンジニア hyiromori の実験プロダクトです',
keywords: 'portfolio, hyiromori, laboratory',
headerImage: 'laboratory.jpg'
} %>
<html lang="ja">
<head>
  <%- include('../resource/template/head.html', data) %>
  <meta property="og:type" content="article" />
</head>
<body>
  <div id="header">
    <div id="header-container">
      <%- include('../resource/template/header.html', data) %>
    </div>
  </div>
  <div id="content-wrapper"></div>
  <div id="footer">
    <div id="footer-container">
      <%- include('../resource/template/footer.html', data) %>
    </div>
  </div>
  <%- include('../resource/template/google_analytics.html', data) %>
  <%- include('../resource/template/service_worker.html', data) %>
  <script type="text/javascript">
    <%- textFile('laboratory/index.js') %>
  </script>
</body>
</html>
