@import '../../../common/colors';

#service-worker-cache-container {
  .fetch-test-button {
    margin-bottom: 8px;
  }

  .frame {
    border: 1px solid $gray-light;
    padding: 16px;
    width: 100%;

    .frame-title {
      text-align: center;
    }
  }
}
