<!doctype html><% var data = {} %>
<html lang="ja">
<head>
  <%- include('../resource/template/head.html', data) %>
  <meta property="og:type" content="article" />
</head>
<body>
  <div id="header">
    <div id="header-container">
      <%- include('../resource/template/header.html', data) %>
    </div>
  </div>
  <div id="content-wrapper">
    <div id="main-content">
      <%- content %>
    </div>
    <div id="left-content"></div>
  </div>
  <div id="footer">
    <div id="footer-container">
      <%- include('../resource/template/footer.html', data) %>
    </div>
  </div>
  <%- include('../resource/template/left_menu.html', data) %>
  <%- include('../resource/template/highlight.html', data) %>
  <%- include('../resource/template/google_analytics.html', data) %>
</body>
</html>
