<!doctype html><% var data = {
title: 'hyiromori\'s Blog',
description: 'Web系エンジニア hyiromori の技術ブログです',
keywords: 'blog, hyiromori',
headerImage: 'blog.jpg'
} %>
<html lang="ja">
<head>
  <%- include('../resource/template/head.html', data) %>
  <meta property="og:type" content="article" />
</head>
<body>
  <div id="header">
    <div id="header-container">
      <%- include('../resource/template/header.html', data) %>
    </div>
  </div>
  <div id="content-wrapper">
    <%- include('../resource/template/title.html', data) %>
    <div id="main-content">
      <h1>投稿一覧</h1>
      <ul id="blog-entries">
        <% for (entry of entries) { %>
        <li class="article">
          <a href="/<%- entry.outputPath %>"><%- entry.title %></a>
          <!--
          <div>
            <strong class="created-at">作成：<%- entry.createdAt %></strong>
            <strong class="updated-at">更新：<%- entry.updatedAt %></strong>
          </div>
          <div class="keywords">
            Keywords:
            <% for (keyword of entry.articleKeywords) { %>
            <strong><%- keyword %></strong>
            <% } %>
          </div>
          -->
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <div id="footer">
    <div id="footer-container">
      <%- include('../resource/template/footer.html', data) %>
    </div>
  </div>
  <%- include('../resource/template/google_analytics.html', data) %>
</body>
</html>
