<!doctype html><% var data = {
title: 'hyiromori\'s Blog',
description: 'Web系エンジニア hyiromori の技術ブログです',
keywords: 'blog, hyiromori',
headerImage: 'blog.jpg'
} %>
<html lang="ja">
<head>
  <%- include('../template/head.html', data) %>
  <meta property="og:type" content="article" />
</head>
<body>
  <div id="header">
    <div id="header-container">
      <%- include('../template/header.html', data) %>
    </div>
  </div>
  <div id="content-wrapper">
    <%- include('../template/title.html', data) %>
    <div id="main-content">
      <div id="blog-entries">
        <% for (entry of entries) { %>
        <a class="blog-entry" href="/<%- entry.outputPath %>" target="_self">
          <div class="blog-title"><%- entry.title %></div>
          <div class="keywords">
            <% for (keyword of entry.keywords) { %>
            <mark><%- keyword %></mark>
            <% } %>
          </div>
          <div class="entry-date">
            作成：<%- entry.createdAt %>
            <% if (entry.createdAt < entry.updatedAt) { %>
            （更新：<%- entry.updatedAt %>）
            <% } %>
          </div>
        </a>
        <% } %>
      </div>

      <div id="feed-buttons">
        <a href="/blog/feed.rss">RSS</a>
        <a href="/blog/feed.atom">Atom</a>
        <a href="/blog/feed.json">JSON</a>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="footer-container">
      <%- include('../template/footer.html', data) %>
    </div>
  </div>
  <%- include('../template/google_analytics.html', data) %>
</body>
</html>
