@import '../../common/colors';

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#home-container {
  #header {
    text-align: center;

    #title {
      border-bottom: 1px solid $gray;
      display: inline-block;
      font-size: 48px;
      line-height: 64px;
      padding: 0 8px;
    }

    #by-name {
      font-size: 14px;
      font-weight: 200;
      margin-top: 4px;
    }
  }

  #initial-screen {
    margin-top: 16px;
    text-align: center;

    #initial-screen-title {
      border-bottom: 1px solid $gray-dark;
      display: inline-block;
      color: $gray-dark;
      font-size: 48px;
      height: 64px;
      margin: 0 4px;
      line-height: 64px;
      text-align: center;
      vertical-align: bottom;
    }

    #initial-screen-title-cursor {
      background-color: $transparent;
      display: inline-block;
      height: 64px;
      width: 2px;
      vertical-align: bottom;

      &.show {
        background-color: $gray-dark;
      }
    }

    #initial-screen-by-name {
      color: $gray-dark;
      display: inline-block;
      font-size: 16px;
      height: 24px;
      line-height: 24px;
      margin: 4px 4px 0 4px;
      text-align: center;
      vertical-align: bottom;
    }

    #initial-screen-by-name-cursor {
      background-color: $transparent;
      display: inline-block;
      height: 24px;
      width: 2px;
      vertical-align: bottom;

      &.show {
        background-color: $gray-dark;
      }
    }
  }

  .skill-item {
    .comment {
      margin-left: 8px;
      font-size: 12px;
    }
  }
}
