<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <% if (canonical != null) { %>
    <link rel="canonical" href="<%= canonical %>" />
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title><%= title %></title>
  <meta property="og:title" content="<%= title %>"/>
  <meta property="og:description" content="ブログという名のメモ置き場。"/>
  <meta property="og:image" content="https://mryhryki.com/image/icon_512x512.png"/>
  <meta property="og:url" content="https://mryhryki.com/"/>
  <meta property="og:site_name" content="mryhryki's blog"/>
  <meta property="og:locale" content="ja-JP"/>
  <meta property="og:type" content="website"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="<%= title %>"/>
  <meta name="twitter:description" content="ブログという名のメモ置き場。"/>
  <meta name="twitter:image" content="https://mryhryki.com/image/icon_512x512.png"/>
  <meta name="twitter:site" content="@mryhryki"/>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://mryhryki.com/assets/css/base.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" type="image/x-icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="mryhryki's app">
</head>
<body class="wrapper dark-theme">
  <%- html %>
  <footer>
    <a href="/blog/">一覧</a>
    <span>© 2021 <a href="https://mryhryki.com/">mryhryki</a></span>
  </footer>
</body>
</html>
