@import '../common/colors';

.radio-button-presenter {
  align-items: center;
  cursor: pointer;
  display: flex;

  .mark {
    border-radius: 50%;
    border: 1px solid $gray;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 16px;

    &.checked {
      &:after {
        background-color: $orange;
        border-radius: 50%;
        content: ' ';
        height: 10px;
        left: 2px;
        position: absolute;
        top: 2px;
        width: 10px;
      }
    }
  }

  .label {
    display: inline-block;
    margin-left: 4px;
  }
}

