<!doctype html>
<html>
<head>
  {% include head.html %}
  <meta
    property="og:type"
    content="{% if page.og_type %}{{ page.og_type }}{% else %}{{ 'article' }}{% endif %}"
  />
</head>
<body>
  {% include header.html %}
  <div id="content-area">
    <nav id="left-content"></nav>
    <div id="main-content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
  <script type="text/javascript">
    {% include left_menu.js %}
  </script>
</body>
</html>
