<!doctype html>
<html>
<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta content="{{ page.title }} | {{ site.title }}" name="title">
  <meta content="{{ site.description}}" name="description">
  <meta content="{{ page.keywords }}" name="keywords">
  <meta
    property="og:type"
    content="{% if page.og_type %}{{ page.og_type }}{% else %}{{ 'article' }}{% endif %}"
  />
  <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
  <meta property="og:description" content="{{ site.description}}" />
  <meta property="og:image" content="/assets/logo.png" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:locale" content="{{ site.lang }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hyiromori" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="{{ site.encoding }}">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjp.css" />
  <link rel="stylesheet" href="/assets/style.css" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124358962-1"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-124358962-1');
  </script>
</head>
<body>
  <div id="header">
    <a href="/" id="header-logo">
      <img id="logo-image" src="/assets/images/logo.png" />
      <div id="logo-text">
        <div id="logo-text-upper">Portfolio</div>
        <div id="logo-text-lower">by hyiromori</div>
      </div>
    </a>
    <nav id="header-navigation">
      <a href="/blog">BLOG</a>
      <a href="/labo">LABO</a>
    </nav>
  </div>

  <div id="content-wrapper">
    <div id="content">
      {% unless page.no_title %}
      <h1>{{ page.title }}</h1>
      {% endunless %}
      {{ content }}
    </div>
  </div>

  <div id="footer">
    <nav id="footer-links">
      <a class="tooltip" data-tooltip="Mail" href="mailto:hyiromori@gmail.com">
        <img src="/assets/images/mail.png" />
      </a>
      <a class="tooltip" data-tooltip="Twitter" href="https://twitter.com/hyiromori">
        <img src="/assets/images/twitter.png" />
      </a>
      <a class="tooltip" data-tooltip="GitHub" href="https://github.com/hyiromori">
        <img src="/assets/images/github.png" />
      </a>
    </nav>
    <div id="footer-copyright">(C) 2018 hyiromori</div>
  </div>

  <script type="text/javascript">
  </script>
</body>
</html>
