@import '../../common/colors';

.common-frame-menu-item {
  .menu-button {
    display: block;
    padding: 6px 16px;
    text-decoration: none;

    %title-line-height {
      line-height: calc(1em + 2px);
    }

    .title-en {
      color: $gray;
    }

    &.level1 {
      padding-left: 8px;

      .title-jp {
        @extend %title-line-height;
        font-size: 20px;
      }

      .title-en {
        @extend %title-line-height;
        font-size: 14px;
      }
    }

    &.level2 {
      padding-left: 24px;

      .title-jp {
        @extend %title-line-height;
        font-size: 18px;
      }

      .title-en {
        @extend %title-line-height;
        font-size: 12px;
      }
    }

    &.level3 {
      padding-left: 42px;

      .title-jp {
        @extend %title-line-height;
        font-size: 16px;
      }

      .title-en {
        @extend %title-line-height;
        font-size: 10px;
      }
    }

    &.marked {
      background-color: $orange;

      .title-jp {
        color: $white;
      }

      .title-en {
        color: $white;
      }
    }
  }
}