<title><%- title %></title>
<meta content="<%- title %>" name="title">
<meta content="<%- description %>" name="description">
<meta content="<%- keywords %>" name="keywords">
<meta name="theme-color" content="#ff7701"/>
<meta property="og:title" content="<%- title %>" />
<meta property="og:description" content="<%- description %>" />
<meta property="og:image" content="/assets/images/logo.jpg" />
<meta property="og:url" content="https://portfolio.hyiromori.com/" />
<meta property="og:site_name" content="<%- title %>" />
<meta property="og:locale" content="ja-JP" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@hyiromori" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="UTF-8">
<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124358962-1"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-124358962-1');
</script>
<style type="text/css">
  <%- include('../../assets/css/index.css') %>
</style>